body{
    margin: 0;
}

.flex-container {
    border: 1px solid black;
    display: inline-flex;
}

.item-1 {
    background-color: aliceblue;
}

.item-2 {
    background-color: rgb(199, 155, 80);
}
.item-3 {
    background-color: rgb(44, 179, 17);
}
.item-4 {
    background-color: rgb(12, 42, 150);
}
.item-5 {
    background-color: cadetblue;
}
.item-6 {
    background-color: cadetblue;
}
.item-7 {
    background-color: cadetblue;
}
.item-8 {
    background-color: cadetblue;
}
.item-9 {
    background-color: cadetblue;
}
.item-10 {
    background-color: cadetblue;
}